.ticket {
  background-color: white;
  border: 1px solid blue;
  border-radius: 4px;
  margin: 10px;
}

.airlines {
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
}

.img {
  width: 40px;
  height: auto;
  margin: 5px;
}

.price {
  font-size: 20px;
  color: #2280FF;
  font-weight: bold;
}